:root {
  --primary-black: #1b1404;
  --primary-gold: #a1936e;
  --secondary-black: #0a0701;
  --secondary-gray: #565656;
  --accent-gold: #a79a77;
  --accent-gray: #c6c4be;
  --accent-light-brown: #bbb196;
  --accent-light-gold: #cfc8b5;
  --accent-lighter-gold: #d9d3c4;
}

/* font-family: "DM Sans", sans-serif;
font-family: "Boska", serif; */

body {
  background-color: #fcfcfc;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  color: var(--primary-gold);
  font-family: "DM Sans", sans-serif;
  font-size: 33.5px;
  font-weight: 500;
  letter-spacing: 0.09em;
  line-height: 50px;
  text-align: center;
}

h2 {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 19.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 50px;
  text-align: center;
}

footer {
  background-color: var(--accent-light-gold);
  padding-top: 35px;
}

.navbar-toggler {
  border: 1px solid #a1936e;
}

.navigation-bar {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
}

.btn-close {
  display: none;
}

.home-link {
  transition: all 200ms ease-in-out;
}

.about-link {
  color: var(--secondary-gray);
  letter-spacing: 0.07em;
  margin-right: 100px;
}

.about-link:hover {
  color: var(--secondary-gray);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.work-link {
  color: var(--primary-gold);
  letter-spacing: 0.07em;
  margin-right: 100px;
}

.work-link:hover {
  color: var(--secondary-gray);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.contact-link {
  color: var(--primary-gold);
  letter-spacing: 0.07em;
  margin-right: 50px;
}

.contact-link:hover {
  color: var(--secondary-gray);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.image-background {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.hero-background-image {
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.about-title-image {
  width: 65%;
}

.about-button-link {
  background-color: rgba(187, 177, 150, 0.55);
  border: 0.5px solid #a1936e;
  border-radius: 60px;
  color: #fcfcfc;
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 500;
  letter-spacing: 0.09em;
  width: 250px;
  margin-top: 175px;
  margin-left: 115px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-button-link:hover {
  background-color: rgba(161, 147, 110, 0.55);
  border: 0.5px solid #a1936e;
  color: #fcfcfc;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 600;
  letter-spacing: 0.09em;
  transition: all 200ms ease-in-out;
}

.introduction-row-one {
  margin-top: 115px;
}

.about-introduction-text {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 15.5px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 50px;
  text-align: center;
}

.about-introduction-row-two {
  margin-top: 57.5px;
  margin-bottom: 115px;
}

.gold-line-image {
  width: 350px;
}

.about-section-background {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.about-section-background-image {
  background-position: center;
  border: 0.5px solid var(--accent-light-gold);
  position: absolute;
  height: 100%;
  width: 100%;
}

.overview-row-one {
  margin-top: -735px;
  margin-bottom: 315px;
}

.about-section-header-row {
  margin-top: 15px;
}

.lauren-kim-headshot {
  width: 450px;
}

.about-section-text-row {
  margin-top: 15px;
}

.about-section-text {
  color: var(--secondary-black);
  font-family: "Boska", serif;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-align: center;
  padding-left: 55px;
  padding-right: 55px;
}

.about-portfolio-link {
  background-color: rgba(187, 177, 150, 0.55);
  border: 0.5px solid #a1936e;
  border-radius: 60px;
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 0.09em;
  width: 250px;
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-portfolio-link:hover {
  background-color: rgba(161, 147, 110, 0.55);
  border: 0.5px solid #a1936e;
  color: var(--secondary-gray);
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 13.5px;
  font-weight: 600;
  letter-spacing: 0.09em;
  transition: all 200ms ease-in-out;
}

.footer-image {
  width: 55%;
}

.footer-title {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 23.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
  margin-top: 15px;
}

.footer-text {
  color: var(--secondary-gray);
  font-family: "Boska", serif;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.contents-footer {
  margin-top: 25px;
  margin-left: 35px;
}

.contents-footer-header {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 19.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.about-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.about-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.portfolio-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.portfolio-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.contact-footer {
  margin-top: 25px;
  margin-left: -55px;
}

.contact-footer-header {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 19.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.email-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 300;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.email-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.connect-footer {
  margin-top: 25px;
}

.connect-footer-header {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 19.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.github-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.github-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.linkedin-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.linkedin-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.copyright-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
}
