:root {
  --primary-black: #1b1404;
  --primary-gold: #a1936e;
  --secondary-black: #0a0701;
  --secondary-gray: #565656;
  --accent-gold: #a79a77;
  --accent-gray: #c6c4be;
  --accent-light-brown: #bbb196;
  --accent-light-gold: #cfc8b5;
  --accent-lighter-gold: #d9d3c4;
}

/* font-family: "DM Sans", sans-serif;
font-family: "Boska", serif; */

/* Desktop Screens With Maximum Widths Including 1368px, 1440px, 1680px & 2560px  */

body {
  background-color: #fcfcfc;
  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  background-color: var(--accent-light-gold);
  padding-top: 35px;
}

.navbar-toggler {
  border: 1px solid #a1936e;
}

.navigation-bar {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
}

.btn-close {
  display: none;
}

.home-link {
  transition: all 200ms ease-in-out;
}

.about-link {
  color: var(--primary-gold);
  letter-spacing: 0.07em;
  margin-right: 100px;
}

.about-link:hover {
  color: var(--secondary-gray);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.work-link {
  color: var(--primary-gold);
  letter-spacing: 0.07em;
  margin-right: 100px;
}

.work-link:hover {
  color: var(--secondary-gray);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.contact-link {
  color: var(--primary-gold);
  letter-spacing: 0.07em;
  margin-right: 50px;
}

.contact-link:hover {
  color: var(--secondary-gray);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.video-background {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.hero-video {
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero-title-image {
  width: 75%;
}

.overview-row-one {
  margin-top: 115px;
}

.meteo-app-image {
  width: 95%;
}

.meteoapp-row-two {
  margin-top: 15px;
}

.meteoapp-text-column {
  padding-left: 55px;
}

.meteoapp-header-text {
  color: var(--primary-gold);
  font-family: "DM Sans", sans-serif;
  font-size: 21.5px;
  font-weight: 500;
  letter-spacing: 0.09em;
}

.meteoapp-body-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 50px;
}

.meteoapp-tools-header {
  color: #b5ab8d;
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.meteoapp-tools-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.meteoapp-resources-header {
  color: #b5ab8d;
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.meteoapp-resources-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.meteoapp-credit-header {
  color: #b5ab8d;
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.meteoapp-credit-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.view-meteoapp-row {
  margin-top: 15px;
}

.view-meteoapp-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.09em;
  line-height: 50px;
  text-decoration: none;
}

.view-meteoapp-link:hover {
  color: var(--primary-gold);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.main-arrow-image {
  margin-left: 35px;
  width: 15%;
}

.main-arrow-image:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: all 200ms ease-in-out;
}

.overview-row-two {
  margin-top: 115px;
  margin-bottom: 115px;
}

.chosen-app-image {
  width: 95%;
}

.chosenapp-row-two {
  margin-top: 15px;
}

.chosenapp-text-column {
  padding-left: 55px;
}

.chosenapp-header-text {
  color: var(--primary-gold);
  font-family: "DM Sans", sans-serif;
  font-size: 21.5px;
  font-weight: 500;
  letter-spacing: 0.09em;
  line-height: 50px;
}

.chosenapp-body-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 50px;
}

.chosenapp-tools-header {
  color: #b5ab8d;
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.chosenapp-tools-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.chosenapp-opensource-header {
  color: #b5ab8d;
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.chosenapp-opensource-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.chosenapp-credit-header {
  color: #b5ab8d;
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.chosenapp-credit-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 50px;
}

.view-chosenapp-row {
  margin-top: 15px;
}

.view-chosenapp-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.09em;
  line-height: 50px;
  text-decoration: none;
}

.view-chosenapp-link:hover {
  color: var(--primary-gold);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.footer-image {
  width: 55%;
}

.footer-title {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 23.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
  margin-top: 15px;
}

.footer-text {
  color: var(--secondary-gray);
  font-family: "Boska", serif;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.contents-footer {
  margin-top: 25px;
  margin-left: 35px;
}

.contents-footer-header {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 19.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.about-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.about-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.portfolio-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.portfolio-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.contact-footer {
  margin-top: 25px;
  margin-left: -55px;
}

.contact-footer-header {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 19.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.email-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 300;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.email-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.connect-footer {
  margin-top: 25px;
}

.connect-footer-header {
  color: var(--primary-black);
  font-family: "Boska", serif;
  font-size: 19.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 35px;
}

.github-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.github-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.linkedin-footer-link {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 55px;
  text-decoration: none;
}

.linkedin-footer-link:hover {
  color: var(--primary-black);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.copyright-text {
  color: var(--secondary-gray);
  font-family: "DM Sans", sans-serif;
  font-size: 13.5px;
  font-weight: 300;
  letter-spacing: 0.07em;
}

/* Desktop Screen (With Maximum Width 1368px) */

@media (max-width: 1368px) {
  .meteoapp-header-text {
    font-size: 19.5px;
    line-height: 35px;
  }

  .meteoapp-body-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .meteoapp-tools-header {
    font-size: 15.5px;
    line-height: 35px;
  }

  .meteoapp-tools-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .meteoapp-resources-header {
    font-size: 15.5px;
    line-height: 35px;
  }

  .meteoapp-resources-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .meteoapp-credit-header {
    font-size: 15.5px;
    line-height: 35px;
  }

  .meteoapp-credit-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .view-meteoapp-link {
    font-size: 15.5px;
    line-height: 35px;
  }

  .main-arrow-image {
    width: 15%;
  }

  .chosenapp-header-text {
    font-size: 19.5px;
    line-height: 35px;
  }

  .chosenapp-body-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .chosenapp-tools-header {
    font-size: 15.5px;
    line-height: 35px;
  }

  .chosenapp-tools-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .chosenapp-opensource-header {
    font-size: 15.5px;
    line-height: 35px;
  }

  .chosenapp-opensource-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .chosenapp-credit-header {
    font-size: 15.5px;
    line-height: 35px;
  }

  .chosenapp-credit-text {
    font-size: 13.5px;
    line-height: 35px;
  }

  .view-chosenapp-link {
    font-size: 15.5px;
    line-height: 35px;
  }

  .about-footer-link {
    font-size: 13.5px;
  }

  .portfolio-footer-link {
    font-size: 13.5px;
  }

  .email-footer-link {
    font-size: 13.5px;
  }

  .github-footer-link {
    font-size: 13.5px;
  }

  .linkedin-footer-link {
    font-size: 13.5px;
  }
}

/* Desktop Screen (With Maximum Width 1280px) */

@media (max-width: 1280px) {
  .footer-title {
    font-size: 21.5px;
  }

  .footer-text {
    font-size: 11.5px;
  }

  .copyright-text {
    font-size: 11.5px;
  }
}

/* Tablet Screen (With Maximum Width 1194px) */

@media (max-width: 1194px) {
  .meteoapp-header-text {
    font-size: 17.5px;
    line-height: 35px;
  }

  .meteoapp-body-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .meteoapp-tools-header {
    font-size: 13.5px;
    line-height: 35px;
  }

  .meteoapp-tools-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .meteoapp-resources-header {
    font-size: 13.5px;
    line-height: 35px;
  }

  .meteoapp-resources-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .meteoapp-credit-header {
    font-size: 13.5px;
    line-height: 35px;
  }

  .meteoapp-credit-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .view-meteoapp-row {
    margin-top: 0px;
  }

  .view-meteoapp-link {
    font-size: 13.5px;
    line-height: 35px;
  }

  .main-arrow-image {
    width: 13%;
  }

  .chosenapp-header-text {
    font-size: 17.5px;
    line-height: 35px;
  }

  .chosenapp-body-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .chosenapp-tools-header {
    font-size: 13.5px;
    line-height: 35px;
  }

  .chosenapp-tools-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .chosenapp-opensource-header {
    font-size: 13.5px;
    line-height: 35px;
  }

  .chosenapp-opensource-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .chosenapp-credit-header {
    font-size: 13.5px;
    line-height: 35px;
  }

  .chosenapp-credit-text {
    font-size: 11.5px;
    line-height: 35px;
  }

  .view-chosenapp-row {
    margin-top: 0px;
  }

  .view-chosenapp-link {
    font-size: 13.5px;
    line-height: 35px;
  }

  .footer-image {
    width: 45%;
  }

  .footer-title {
    font-size: 21.5px;
    line-height: 25px;
  }

  .footer-text {
    font-size: 11.5px;
  }

  .contents-footer {
    margin-top: 15px;
  }

  .contents-footer-header {
    font-size: 17.5px;
  }

  .about-footer-link {
    font-size: 13.5px;
  }

  .portfolio-footer-link {
    font-size: 13.5px;
  }

  .contact-footer {
    margin-top: 15px;
  }

  .contact-footer-header {
    font-size: 17.5px;
  }

  .email-footer-link {
    font-size: 13.5px;
  }

  .connect-footer {
    margin-top: 15px;
  }

  .connect-footer-header {
    font-size: 17.5px;
  }

  .github-footer-link {
    font-size: 13.5px;
  }

  .linkedin-footer-link {
    font-size: 13.5px;
  }

  .copyright-text {
    font-size: 11.5px;
  }
}

/* Tablet Screen (With Maximum Width 936px) */

@media (max-width: 936px) {
  .navbar-collapse {
    background-color: rgba(252, 252, 252, 0.95);
    backdrop-filter: blur(5px);
    border: 0.5px solid #a1936e;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    padding-top: 100px;
    transition: height 0.5s ease-in-out;
  }

  .navbar-nav {
    text-align: center;
    width: 100%;
  }

  .navbar-collapse:not(.show) {
    height: 0;
    overflow: hidden;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-toggler {
    margin-right: 35px;
    overflow-x: hidden;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28161, 147, 110, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
  }

  .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28161, 147, 110, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
  }

  .btn-close {
    background-color: transparent;
    border: 0;
    color: var(--secondary-gray) !important;
    font-size: 1rem;
    line-height: 1;
    outline: none;
    padding: 1.8rem 4.1rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 200ms ease-in-out;
  }

  .btn-close:hover {
    color: var(--primary-black);
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }

  .about-link {
    line-height: 55px;
    text-align: center;
    margin-right: 0px;
  }

  .work-link {
    line-height: 55px;
    text-align: center;
    margin-right: 0px;
  }

  .contact-link {
    line-height: 55px;
    text-align: center;
    margin-right: 0px;
  }

  .meteoapp-row-two {
    margin-top: 25px;
  }

  .meteoapp-header-text {
    font-size: 13.5px;
    line-height: 0px;
  }

  .meteoapp-body-text {
    font-size: 7.5px;
    line-height: 25px;
  }

  .meteoapp-tools-header {
    font-size: 9.5px;
    line-height: 15px;
  }

  .meteoapp-tools-text {
    font-size: 7.5px;
    line-height: 15px;
  }

  .meteoapp-resources-header {
    font-size: 9.5px;
    line-height: 15px;
  }

  .meteoapp-resources-text {
    font-size: 7.5px;
    line-height: 15px;
  }

  .meteoapp-credit-header {
    font-size: 9.5px;
    line-height: 15px;
  }

  .meteoapp-credit-text {
    font-size: 7.5px;
    line-height: 15px;
  }

  .view-meteoapp-row {
    margin-top: 5px;
  }

  .view-meteoapp-link {
    font-size: 9.5px;
    line-height: 25px;
  }

  .chosenapp-row-two {
    margin-top: 25px;
  }

  .chosenapp-header-text {
    font-size: 13.5px;
    line-height: 0px;
  }

  .chosenapp-body-text {
    font-size: 7.5px;
    line-height: 25px;
  }

  .chosenapp-tools-header {
    font-size: 9.5px;
    line-height: 15px;
  }

  .chosenapp-tools-text {
    font-size: 7.5px;
    line-height: 15px;
  }

  .chosenapp-opensource-header {
    font-size: 9.5px;
    line-height: 15px;
  }

  .chosenapp-opensource-text {
    font-size: 7.5px;
    line-height: 15px;
  }

  .chosenapp-credit-header {
    font-size: 9.5px;
    line-height: 15px;
  }

  .chosenapp-credit-text {
    font-size: 7.5px;
    line-height: 15px;
  }

  .view-chosenapp-row {
    margin-top: 5px;
  }

  .view-chosenapp-link {
    font-size: 9.5px;
    line-height: 25px;
  }

  .footer-title {
    font-size: 17.5px;
  }

  .footer-text {
    font-size: 9.5px;
    line-height: 25px;
  }

  .contents-footer {
    margin-top: 9.5px;
  }

  .contents-footer-header {
    font-size: 15.5px;
    line-height: 15px;
  }

  .about-footer-link {
    font-size: 11.5px;
    line-height: 55px;
  }

  .portfolio-footer-link {
    font-size: 11.5px;
    line-height: 55px;
  }

  .contact-footer {
    margin-top: 9.5px;
  }

  .contact-footer-header {
    font-size: 15.5px;
    line-height: 15px;
  }

  .email-footer-link {
    font-size: 11.5px;
  }

  .connect-footer {
    margin-top: 9.5px;
  }

  .connect-footer-header {
    font-size: 15.5px;
    line-height: 15px;
  }

  .github-footer-link {
    font-size: 11.5px;
    line-height: 55px;
  }

  .linkedin-footer-link {
    font-size: 11.5px;
    line-height: 55px;
  }

  .copyright-text {
    font-size: 9.5px;
  }
}

/* Tablet Screen (With Maximum Width 912px) */

@media (max-width: 912px) {
  .navbar-collapse {
    padding-top: 500px;
  }

  .about-link {
    font-size: 21.5px;
    line-height: 100px;
    text-align: center;
    margin-right: 0px;
  }

  .work-link {
    font-size: 21.5px;
    line-height: 100px;
    text-align: center;
    margin-right: 0px;
  }

  .contact-link {
    font-size: 21.5px;
    line-height: 100px;
    text-align: center;
    margin-right: 0px;
  }
}

/* Tablet Screen (With Maximum Width 834px) */

@media (max-width: 834px) {
  .navbar-collapse {
    padding-top: 400px;
  }

  .footer-title {
    font-size: 15.5px;
    line-height: 15px;
  }

  .footer-text {
    font-size: 7.5px;
  }

  .contents-footer-header {
    font-size: 13.5px;
  }

  .about-footer-link {
    font-size: 9.5px;
  }

  .portfolio-footer-link {
    font-size: 9.5px;
  }

  .contact-footer-header {
    font-size: 13.5px;
  }

  .email-footer-link {
    font-size: 9.5px;
  }

  .connect-footer-header {
    font-size: 13.5px;
  }

  .github-footer-link {
    font-size: 9.5px;
  }

  .linkedin-footer-link {
    font-size: 9.5px;
  }

  .copyright-text {
    font-size: 7.5px;
  }
}

/* Tablet Screen (With Maximum Width 768px) */

@media (max-width: 768px) {
  .navbar-collapse {
    padding-top: 350px;
  }

  .about-link {
    font-size: 19.5px;
  }

  .work-link {
    font-size: 19.5px;
  }

  .contact-link {
    font-size: 19.5px;
  }
}
